# Ignorespecific file types
*.csv
*.DS_Store

# Ignore specific folders and their contents
__pycache__/
ccf_reg_input/
ccf_reg_output/
ccf_reg_output*/
ccf_reg_reports/
new_standardization/
old/
output/
bad_transform_examples/
old_output_csvs/
misc_code/
ccf_reg_database/
cell_soma_structure_and_coords/
upright_investigation/