# Ignorespecific file types
*.DS_Store

# Ignore specific folders and their contents
/data/*
/archive/*
/results/*
/scratch/*
*/.vscode/
.codeocean

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Optional: virtual env
.env/
